.content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #1c4586;
}

.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.graph {
  max-height: 100%;
  max-width: 100%;
}

.data-header {
  margin-left: 20px;
}

img {
  width: 80%;
  height: auto;
}

.page-content {
  background-color: aliceblue;
}