/* button {
  background-color: #024444;
  color: #d4f0f3;
  font-weight: 350;
  font-size: 18px;
  border: 0;
  text-align: left;
} */

.top-quote {
  font-size: 20px;
  font-weight: 300;
  background-color: #024444;
  color: #d4f0f3;
}

.categories {
  background-color: #024444;
  color: #d4f0f3;
  font-weight: 400;
  font-size: 18px;
}

.description {
  font-size: 18px;
}

.link-color {
  color: #0a0a35;
}
.quote {
  font-size: 16px;
  font-weight: 400;
  background-color: #d4f0f3;
  color: #024444;
}

.categorya-quote {
  color: #0a0a35;
}
.categorya-description {
  background-color: #0a0a35;
}

.categoryb-quote {
  color: midnightblue;
}
.categoryb-description {
  background-color: midnightblue;
  color: #d4f0f3;
}

.categoryc-quote {
  color: #3c264d;
}
.categoryc-description {
  background-color: #3c264d;
}

.emphasis {
  font-weight: 600;
}

.container {
  font-size: 16px;
  display: grid;
}

.row > * {
  display: grid;
  min-height: 100px;
  border: 3px solid aliceblue;
  padding: 12px;
  border-radius: 4px;
}

.experience-link {
  color: #d4f0f3;
  font-size: 20px;
}

.page-content {
  background-color: aliceblue;
}

@media screen and (max-width: 770px) {
  .container {
    max-width: 100%;
  }
}
