.top-quote {
  font-size: 18px;
  font-weight: 350;
  background-color: #024444;
  color: powder;
}

.categories {
  background-color:#024444;
  color: powderblue;
  font-weight: 350;
  font-size: 18px;
}

.description {
  font-size: 16px;
}

.quote {
    font-size: 16px;
    font-weight: 350;
    background-color: powderblue;
    color:#024444;
}

.emphasis{
  font-weight: 600;
}

.container {
    font-size: 16px;
    display: grid;
  }
  
  .row>* {
    display: grid;
    min-height: 100px;
    border: 2px solid white;
    padding: 12px;
    border-radius: 4px;
  }

  @media screen and (max-width:770px) {
.container {
    max-width: 100%;
}
  }