
.top-quote {
  font-size: 20px;
  font-weight: 300;
  background-color: #024444;
  color: #d4f0f3;
}

.description {
  color: #d4f0f3;
  font-size: 20px;
  align-content: center;
  justify-content: center;
}

.link-color {
  color: #d4f0f3;
}

.mini-block {
  border-top: solid 4px white; 
  padding: 20px;

}

.quote {
  font-size: 16px;
  font-weight: 400;
  background-color: #d4f0f3;
  color: #024444;
}

.categorya-quote {
  color: #0a0a35;
}
.categorya-description {
  background-color: #0a0a35;
}

.categoryb-quote {
  color: midnightblue;
}
.categoryb-description {
  background-color: midnightblue;
}

.categoryc-quote {
  color: #3c264d;
}
.categoryc-description {
  background-color: #3c264d;
}

.emphasis {
  font-weight: 600;
  display: inline;
}

.container {
  font-size: 16px;
  display: grid;
}

.row > * {
  display: grid;
  min-height: 100px;
  border: 3px solid aliceblue;
  padding: 12px;
  border-radius: 4px;
}

.experience-link {
  color: #d4f0f3;
  font-size: 24px;
  align-items: center;
}

.page-content {
  background-color: aliceblue;
}

@media screen and (max-width: 770px) {
  .container {
    max-width: 100%;
  }
}
