.container-fluid {
  color: #1c4586;
  font-size: 14px; 
}

.flex-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  .row {
    padding: 20px 50px;
  }
}

@media (max-width: 450px) {
  .img-fluid {
    padding-bottom: 20px;
  }
}

